.Auth {
  display: flex;
  width: 200px;
  padding: 10px;
  justify-content: center;
  background-color: #1ff;

  .Auth-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .Auth-field {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .Auth-signin {
    display: none;
  }
}
