<sidebar>
  <div class="Auth">
    <form action="#" method="POST" class="Auth-signin">
      <div class="Auth-field">
        <label for="login_signin">Sign in</label>
        <br />
        <input type="text" id="login_signin" name="login" />
      </div>
      <div class="Auth-field">
        <label for="pass_signin">Password</label>
        <br />
        <input type="text" id="pass_signin" name="pass" />
      </div>
      <div class="Auth-field">
        <label for="pass_signin-confirm">Repeat password</label>
        <br />
        <input type="text" id="pass_signin-confirm" name="pass-confirm" />
      </div>
      <div class="Auth-buttons">
        <div class="Auth-btn">
          <button type="submit" class="switch-button">Log in</button>
        </div>
        <div class="Auth-btn">
          <button type="signin">Sign in</button>
        </div>
      </div>
    </form>

    <form action="#" method="POST" class="Auth-login">
      <div class="Auth-field">
        <label for="login_login">Login</label>
        <br />
        <input type="text" id="login_login" name="login" />
      </div>
      <div class="Auth-field">
        <label for="pass_login">Password</label>
        <br />
        <input type="text" id="pass_login" name="pass" />
      </div>
      <div class="Auth-buttons">
        <div class="Auth-btn">
          <button type="submit">Log in</button>
        </div>
        <div class="Auth-btn">
          <button type="signin" class="switch-button">Sign in</button>
        </div>
      </div>
    </form>
  </div>
  <nav></nav>
</sidebar>
