<%- include('layouts/head.ejs') %>
<header>
  <div class="Logo">
    <div class="Logo_h1">
      <h1>Sergey Frolenko portfolio</h1>
    </div>
  </div>
</header>
<content>
  <div class="Figure">
    <div class="Figure-caption"><h3>Webpack</h3></div>
    <div class="Figure-text">
      <p>
        At its core, webpack is a static module bundler for modern JavaScript
        applications. When webpack processes your application, it internally
        builds a dependency graph which maps every module your project needs and
        generates one or more bundles.
      </p>
    </div>
  </div>
</content>

<%- include('layouts/sidebar.ejs') %> <%- include('layouts/footer.ejs') %>
