html
  head
    link(rel = 'javascript' href = '../css/style.css')
    title Main page
  body
    header
      div.Logo
        div.Logo_h1 Sergey Frolenko portfolio
    content 
      div.Figure
        div.Figure_caption
          h3 title
    sidebar
      div.Auth
      nav
    footer
